.edit-button {
  border: 1px solid #FFFFFF;
  background-color: #000000;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin: 0;
  background-image: url(../../images/EditButton.svg);
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  transition: 0.8s;
}

.edit-button:hover {
  opacity: 0.6;
  cursor: url(../../images/Cursor.svg), pointer;
}

@media screen and (max-width: 920px) {
  .edit-button {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 570px) {
  .edit-button {
    width: 18px;
    height: 18px;
  }
}
